SECRET_KEY=super-secret-key
ADMIN_USERNAME=admin
ADMIN_PASSWORD=admin123

MONGO_URI=mongodb://127.0.0.1:27017/
MONGO_DB_NAME=digital_passport

GANACHE_RPC_URL=http://127.0.0.1:7545
CHAIN_ID=1337
GANACHE_ACCOUNT_ADDRESS=0xYourGanacheAccount
GANACHE_PRIVATE_KEY=your_ganache_private_key
CONTRACT_ADDRESS=0xYourDeployedContractAddress
GAS_LIMIT=3000000
GAS_PRICE_GWEI=20
